Options +MultiViews


<IfDefine !DEV>
  AuthType Basic
  AuthName "Password Protected Area"
  AuthUserFile /var/lib/openshift/572fbab47628e18c7e0000cf/app-root/runtime/repo/php/.htpasswd
  Require valid-user
  <Directory /var/lib/openshift/572fbab47628e18c7e0000cf/app-root/data/files>
       Satisfy Any
  </Directory>
</IfDefine>

<IfDefine DEV>
  SetEnv OPENSHIFT_REPO_DIR C:/Users/wass1/Documents/openshiftWeb/Repo/
  SetEnv OPENSHIFT_MYSQL_DB_HOST 127.0.0.1
  SetEnv OPENSHIFT_MYSQL_DB_PORT 3306
  SetEnv OPENSHIFT_MYSQL_DB_USERNAME adminpjV2Bj9
  SetEnv OPENSHIFT_MYSQL_DB_PASSWORD TdeU3Y7mtfQH
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /
  RewriteRule ^src(.*)$ http://127.0.0.1:8080/src$1 [L,R=301]

</IfDefine>
